html, address,
blockquote,
body, dd, div,
dl, dt, fieldset, form,
frame, frameset,
h1, h2, h3, h4,
h5, h6, noframes,
ol, p, ul, center,
dir, hr, menu, pre   { display: block; unicode-bidi: embed }
li              { display: list-item }
head            { display: none }
table           { display: table }
tr              { display: table-row }
thead           { display: table-header-group }
tbody           { display: table-row-group }
tfoot           { display: table-footer-group }
col             { display: table-column }
colgroup        { display: table-column-group }
td, th          { display: table-cell }
caption         { display: table-caption }
th              { font-weight: bolder; text-align: center }
caption         { text-align: center }
body            { margin: 8px }
h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h4, p,
blockquote, ul,
fieldset, form,
ol, dl, dir,
menu            { margin: 1.12em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6, b,
strong          { font-weight: bolder }
blockquote      { margin-left: 40px; margin-right: 40px }
i, cite, em,
var, address    { font-style: italic }
pre, tt, code,
kbd, samp       { font-family: monospace }
pre             { white-space: pre }
button, textarea,
input, select   { display: inline-block }
big             { font-size: 1.17em }
small, sub, sup { font-size: .83em }
sub             { vertical-align: sub }
sup             { vertical-align: super }
table           { border-spacing: 2px; }
thead, tbody,
tfoot           { vertical-align: middle }
td, th, tr      { vertical-align: inherit }
s, strike, del  { text-decoration: line-through }
hr              { border: 1px inset }
ol, ul, dir,
menu, dd        { margin-left: 40px }
ol              { list-style-type: decimal }
ol ul, ul ol,
ul ul, ol ol    { margin-top: 0; margin-bottom: 0 }
u, ins          { text-decoration: underline }
br:before       { content: "\A"; white-space: pre-line }
center          { text-align: center }
:link, :visited { text-decoration: underline }
:focus          { outline: thin dotted invert }

/* Begin bidirectionality settings (do not change) */
BDO[DIR="ltr"]  { direction: ltr; unicode-bidi: bidi-override }
BDO[DIR="rtl"]  { direction: rtl; unicode-bidi: bidi-override }

*[DIR="ltr"]    { direction: ltr; unicode-bidi: embed }
*[DIR="rtl"]    { direction: rtl; unicode-bidi: embed }

@media print {
  h1            { page-break-before: always }
  h1, h2, h3,
  h4, h5, h6    { page-break-after: avoid }
  ul, ol, dl    { page-break-before: avoid }
}

header{
    margin: 10px;
    text-align: center;
}
h1{
    font-size: large;
}
/* div{
    border: black solid 1px;
} */
.button-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width: 80px;
    height: 40px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: rgb(66, 1, 1);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    line-height:25px;
    opacity: 0.5;
}

button:hover {
    background-color: #025505;
    color: rgb(252, 156, 156);
    opacity: 1;
}

.goal-value{
    width: 60px;
    height: 30px;
    padding: 1px;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Roof:       < main >  */
/* Layer1:   <canvas-container>                              <input-container > */
/* Layer2:  <canvas (#arm-view)>             <position-control-container>  <join-control-container>*/
/* Layer3:          x                            <btn-container>                <joins-container> */
/* Layer4:          x                                  x      <left-span> <range-container> <right-span> */
main{
    display: grid;
    grid-template-rows: 50% 20%;
}

.cam-container{
    margin: auto;
    width: auto;
    text-align: center;
    align-items: center;
}
/* main root */
.main-container{
    display: grid;
    grid-template-columns: 60% 30%;
}

/* first-layer */

.canvas-container{

}

.input-container{
    display: grid;
    grid-template-rows: 40% 60%;
    align-items: center;
    text-align: center;
}

/* second-layer */
#arm-view{
    width: 50vw;
    height: 50vh;
}

.position-control-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    visibility: visible;

}
.group-joins-control-container{

}

/* third-layer */
.position-control-container > div{
    margin: 2px;
}

.join-control-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

/* four-layer */
.join-control-container > div{
    justify-content: center;
    position: relative;
}
.end-effector-container{
    display: grid;
    grid-template-columns: auto auto;
}

/* five-layer */
.left-span, .right-span{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.input-range-ctn{
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
    align-items: center;
}

